    <%- include('header') %>
    <h2> Open Roles:</h2>
    <% categorias.forEach(categorias => { %> 
    <div>
      <h3><%- categorias.categoria %></h3>
        <ul>
          <% categorias.vagas.forEach(vagas => { %> 
          <li> <a href="vaga/<%- vagas.id %>"> <%- vagas.titulo %> </a> </li>
          <% }) %>
        </ul>
    </div>
    <% }) %>
    <p> System Developement by <a href="aboutme"> Marcelo Ribas (DevPleno) </a> </p>
    <%- include('footer') %>